@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 12%;
    background: rgba(0, 0, 0, 8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: white;
}

.logo {
    display: flex;
}

.logo-3A {
    width: 70px;
    height: 70px;
}


.logo-company {
    font-size: 40px;
    color: black;
    font-weight: 600;
    transition: 0.3s ease;
}

span {
    color: rgb(94, 179, 157);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
    color: rgb(94, 179, 157);
    border-bottom: 1px solid rgb(94, 179, 157);
}

.list-2 {
    font-size: 28px;
    display: none;
}

.nav {
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}

.nav:hover,
.nav :active {
    color: rgb(94, 179, 157);
    border-bottom: 3px solid rgb(94, 179, 157);

}

.home {
    width: 100%;
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.603)), url(Wood.jpg);
    background-position: center;
    background-size: cover;
}


.home-content {
    max-width: 800px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h3 {
    font-size: 42px;
    color: white;
}

.home-content h1 {
    font-size: 62px;
    line-height: 1.2;
    color: white;
}

.home-content p {
    font-size: 18px;
    margin: 25px 0 30px;
    color: white;
}



::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(94, 179, 157);
}

::-webkit-scrollbar-track {
    background-color: black;
    width: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: white;
}


.about-img img {
    position: relative;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: black;
    object-fit: cover;
    align-items: center;
    border: 15px solid white;
    box-shadow: 0 0 25px rgb(94, 179, 157),
        0 0 50px rgb(94, 179, 157);
}

.about-content h2 {
    text-align: left;
    color: black;
    font-size: 42px;
}

.about-content h3 {
    font-size: 62px;
    color: black;
}

.about-content p {
    color: black;
    font-size: 20px;
    margin: 2em 0 3em;
}

.hand {
    font-size: 62px;
    color: black;
    background-color: white;
    text-align: center;
    padding-bottom: 50px;
}


.experience-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: white;
    padding-bottom: 150px;
    color: white;
}

.img-experience {
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.img-experience img {
    width: 100%;
    border-radius: 8px;
}

.experience-img-1 {
    height: 337px;
    object-fit: cover;
}

.experience-img-2 {
    height: 337px;
    object-fit: cover;
}

.experience-img-3 {
    height: 337px;
    object-fit: cover;
}

.img-experience h1 {
    color: black;
    font-size: xx-large;
}

.img-experience h2 {
    color: black;
    text-align: center;
}

.img-experience h3 {
    text-align: center;
    font-size: xx-large;
}

.education-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: white;
    padding-bottom: 150px;
    color: black;
}

.img-education {
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.img-education img {
    width: 100%;
    border-radius: 8px;
}

.education-img-2 {
    padding-bottom: 104px;
    padding-top: 100px;
}

.education-img-3 {
    height: 321px;
    object-fit: contain;
}

.img-education h1 {
    color: black;
}

.contact-form {
    background-color: black;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 36px;
    color: white;
}

.contact-form form {
    max-width: 50em;
    margin: auto;
    text-align: center;
    margin-bottom: 1em auto;
    text-align: center;
}

.contact-form form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea {
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

.btn-3 {
    padding: 15px 28px;
    background-color: white;
    color: rgb(94, 179, 157);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 60px;
    background-color: black;
    margin-top: 0;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a {
    font-size: 24px;
    color: rgb(94, 179, 157);
    border: 2px solid rgb(94, 179, 157);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    color: rgb(94, 179, 157);
    border: 2px solid rgb(94, 179, 157);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: rgb(94, 179, 157);
    border-bottom: 3px solid transparent;
    transition: 0.3 ease;
}

.footer ul li a:hover {
    border-bottom: 3px solid rgb(94, 179, 157);
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgb(94, 179, 157);
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        top: 0;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li:last-of-type {
        padding-bottom: 8px;
    }

    #menu-list{
        position: absolute;
        width: 100%;
        background-color: rgb(94, 179, 157);
        padding-top: 20px;
        padding-bottom: 20px;
        top: 90px;
        left: -32px;
    }

    nav ul.hidden {
        display: none;
    }

    .list-2 {
        display: flex;
        align-items: center;
    }

    .header {
        padding: 15px 12px 15px 12px;
    }

    .logo-company {
        font-size: 35px;
    }

    .logo-3A {
        width: 60px;
        height: 60px;
        object-fit: fill;
    }

    .about {
        display: grid;
        justify-content: center;
        align-items: center;
        background: white;
        padding-top: 100px;
    }


    .about-img img {
        position: relative;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        background-color: black;
        object-fit: cover;
        align-items: center;
        border: 15px solid white;
        box-shadow: 0 0 25px rgb(94, 179, 157),
            0 0 50px rgb(94, 179, 157);
        margin-bottom: 0;

    }

    .about-content h2 {
        text-align: center;
        color: black;
        font-size: 42px;
    }

    .about-content h3 {
        font-size: 62px;
        color: black;
    }

    .about-content p {
        color: black;
        font-size: 20px;
        text-align: center;
    }

    .img-experience h1 {
        font-size: 30px;
    }
}